@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body{
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
  padding: 0;
  margin: 0;
}

header{
    &.navbar{
        height: 150px;

        a.navbar-brand{
            height: 100%;
            img{
                height: 105px;
            }
        }

        .navbar-collapse{
            flex-grow: initial;
            align-self: self-end;
            font-size: 18pt;
            color: #696969;

            .navbar-nav{

                .nav-item{
                    .nav-link{
                        border-right: 2px solid #696969;
                        padding: 0px 12px;

                        &:hover{
                            color: #137db8;
                            box-shadow: 0px 2px 0px #137db8;
                        }
                    }
                }

                .nav-item:last-child .nav-link{
                    border-right: none;
                }
            }
        }
    }
}

main{
    &#index{
        .banner{
            margin: 0 auto;
            position: relative;
            max-width: 1920px;
            img{
                width: 100%;
            }
        }

        #intro{
            .badge{
                color: #696969;
                img{
                    width: 100%;
                }
            }
        }

        #company_info{
            max-width: 1920px;
            margin: 0 auto;
            #company_pic{
                background-image: url('../assets/img/index_intro_blue_bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right -8px center;
                height: 560px;
                margin-top: -50px;
                z-index: 1;
                text-align: right;

                img{
                    height: 78%;
                    margin: 80px 30px 0 0;
                }
            }

            #company_info{
                max-width: 600px;
                width: 100%;
                margin: 100px 0 0 30px;

                h2{
                    font-size: 36pt;
                    color: #137db8;
                    margin: 0 0 10px 0;
                    font-weight: 200;
                }

                p{
                    line-height: 30px;
                    font-size: 14pt;
                    font-weight: 300;
                }
            }

            #blue_triangle{
                position: absolute;
                height: 560px;
                width: 50%;
                z-index: 2;
                background-image: url('../assets/img/blue_triangle.png');
                background-repeat: no-repeat;
                background-size: auto;
                background-position: right bottom;
            }
        }
    }
}
